@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    padding: 0;
    margin: 0;
    position: relative;
}

/* Create a container for the marquee */
.marquee-container {
    width: 100%;
    overflow: hidden;
}

/* Style the marquee element */
.marquee {
    white-space: nowrap; /* Prevent line breaks */
    animation: marquee 10s linear infinite; /* Adjust the animation duration as needed */
}

.marquee-reverse {
    white-space: nowrap; /* Prevent line breaks */
    animation: reverse-marquee 10s linear infinite; /* Adjust the animation duration as needed */
}

.custombox {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

/* Define the keyframes for the marquee animation */
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes reverse-marquee {
    0% {
        transform: translateX(-100%); /* Start from the left edge */
    }
    100% {
        transform: translateX(100%); /* End at the right edge */
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

